body{
    padding: 15px;
    width: 850px;
    height: 1000px;
}

.tab-content{
    width: 650px;
}

.nav-pills{
    width: 125px;
    float: left;
    padding-right: 20px;
}

.tab-content{
    float: left;
}

.lineBreak{
    width: 550px;
}

#bodyTag::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
} 
#bodyTag::-webkit-scrollbar-thumb {
    background-color: #000000;
}
/*
.minLimitStyle{
    color: #891a14;
}

.limitStyle{
    color: #14892c;
}

.minLuckyStyle{
    color: #201489;
}

.maxLimitStyleL33t{
    color: #395211;
}

.maxLimitStyleUb3r{
    color: #113a4f;
}

.maxLimitStyleEp1c{
    color: #805b16;
}
    */
.minLimitStyle{
    color: #891a14;
}

.limitStyle{
    color: #14892c;
}

.minLuckyStyle{
    color: #201489;
}

.tooHighStyle{
    color: red;
}

.maxLimitStyleL33t{
    color: #99FF00;
}

.maxLimitStyleUb3r{
    color: #00AAFF;
}

.maxLimitStyleEp1c{
    color: #FFA500;
}