body{
    padding: 15px;
    width: 850px;
    height: 1000px;
}

.tab-content{
    width: 650px;
}

.nav-pills{
    width: 125px;
    float: left;
    padding-right: 20px;
}

.tab-content{
    float: left;
}

.lineBreak{
    width: 550px;
}

#bodyTag::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
} 
#bodyTag::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.label-hallow-green{
    background-color: #ffffff;
    border-color: #b2d8b9;
    color: #14892c;
}

.label-hallow-gray{
    background-color: #ffffff;
    border-color: #e4e8ed;
    color: #4a6785;
}
.label-hallow-red{

}
/* */